@font-face {
    font-family: "Cascadia";
    src: url("/YulinBlog/fonts/CascadiaCodeNF.ttf") format("truetype"), url('{{ "/YulinBlog/fonts/CascadiaNextSC.wght.ttf" | relURL }}') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Cascadia", Arial, sans-serif;
}
