@font-face {
    font-family: "CascadiaCodeNF";
    src: url("/YulinBlog/fonts/CascadiaCodeNF.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CascadiaCodeNFItalic";
    src: url("/YulinBlog/fonts/CascadiaCodeNFItalic.ttf") format("truetype");
}

@font-face {
    font-family: "CascadiaNextSC";
    src: url("/YulinBlog/fonts/CascadiaNextSC.wght.ttf") format("truetype");
}

body {
    font-family: "CascadiaCodeNF", "CascadiaNextSC", Arial, sans-serif;
}

em,
i {
    font-family: "CascadiaCodeNFItalic", sans-serif;
}
